<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Venda</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" class="form-vertical  js-form-loading"
				th:object="${venda}" th:action="@{/vendas/novo}">
				<div class="alert  alert-danger  alert-dismissible" role="alert"
					th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<th:block th:each="error : ${#fields.detailedErrors()}">
						<div>
							<i class="fa  fa-exclamation-circle"></i> <span
								th:text="${error.message}"></span>
						</div>
					</th:block>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<label for="nome">Nome</label> <input id="nome" type="text"
						class="form-control" th:field="*{nome}" />
				</div>

				<!-- 				<div class="form-group">
					<label for="promocao">Promocao</label> <select id="promocao"
						th:field="*{promocao}">
						<option value="">--</option>
						<option th:each="booleano : ${booleanos}" th:value="${booleano}"
							th:utext="${booleano }" />
					</select>
				</div> -->

				<!-- 	<select class="form-control" th:field="*{promocao}" id="promocao">
						<option th:value="true" th:text="true" />
					<option th:value="false" th:text="false" />
						<option value="null">--</option>
					   <option th:value="true" >true</option>
    				   <option th:value="false" >false</option>
				

				</select> -->
				<div class="form-group">
					<label for="promocao">Promoção</label> <select class="form-control"
						th:field="*{promocao}" id="promocao">
						<option th:value="true" th:text="Sim" />
						<option th:value="false" th:text="Não" />

					</select>
				</div>
				<!-- <div class="form-group">
					<label for="promocao">Promocao</label> <input id="promocao" type="text"
						class="form-control" th:field="*{promocao}" />
				</div> -->

				<!-- <div class="form-group">
					<label th:for="promocao" th:text="'Promoção:'"></label>
					<input type="checkbox" th:field="*{promocao}" id="promocao" />
				</div> -->

				
					<div class="form-group">
						<label for="date_inicio_promocao">Data Inicio Promocao</label> <input
							id="date_inicio_promocao" type="date" class="form-control"
							th:field="*{date_inicio_promocao}" />
					</div>
					
					
					<div class="form-group">
						<label for="date_final_promocao">Data Final Promocao</label> <input
							id="date_final_promocao" type="date" class="form-control"
							th:field="*{date_final_promocao}" />
					</div>
					<div class="form-group">
						<label for="desconto">Desconto</label> <input id="desconto"
							class="form-control" th:field="*{desconto}" />
					</div>
				




				<div class="form-group">
					<label for="produto">Produtos</label> <select id="produto"
						th:field="*{produto}" class="form-control">
						<!-- <option value="">--</option> -->
						<option th:each="produto : ${produtos}" th:value="${produto}"
							th:text="${produto.nome}" />
					</select>
				</div>
				<div class="form-group">
					<label for="fornecedor">Fornecedores</label> <select
						id="fornecedor" th:field="*{fornecedor}" class="form-control">
						<!-- <option value="">--</option> -->
						<option th:each="fornecedor : ${fornecedores}"
							th:value="${fornecedor}" th:text="${fornecedor.nome}" />
					</select>
				</div>

				<div class="form-group">
					<label for="cliente">Clientes</label> <select id="cliente"
						th:field="*{cliente}" class="form-control">
						<!-- <option value="">--</option> -->
						<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
							th:text="${cliente.nome}" />
					</select>
				</div>
				<div class="row">
					<!-- <div class="col-sm-6">
				<div class="form-group">
					<label for="tipo">Tipo</label>
					<select id="tipo" class="form-control" th:field="*{tipo}">
						<option value="">Selecione o tipo</option>
						<option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="#{|tipoVinho.${tipo}|}"></option>
					</select>
				</div>
			</div>
			 -->
					<div class="col-sm-6"></div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>

	</section>
</body>
</html>